/* General Styles */
.contact__container {
    padding: 50px 0;
    background-color: #f8f9fa;
  }
  
  .contact__wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  /* Header */
  .contact__title {
    font-size: 28px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .contact__description {
    color: #666;
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  /* Contact Info */
  .contact__info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  
  .contact__info-box {
    background: white;
    border: 1px solid rgba(0, 185, 142, 0.3);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .contact__icon {
    font-size: 20px;
    color: #27ae60;
  }
  
  /* Contact Content (Form + Map) */
  .contact__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .contact__map {
    width: 50%;
    height: 400px;
    border-radius: 8px;
  }
  
  /* Form */
  .contact__form {
    width: 45%;
    text-align: left;
  }
  
  .contact__form-text {
    margin-bottom: 15px;
    color: #666;
  }
  
  .contact__form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .contact__form-group .contact__input {
    width: 48%;
  }
  
  .contact__input,
  .contact__textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact__textarea {
    height: 150px;
    resize: none;
  }
  
  .contact__button {
    width: 100%;
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact__button:hover {
    background-color: #219150;
  }
  
 
  @media (max-width: 768px) {
    .contact__info {
      flex-direction: column;
      gap: 10px;
    }
  
    .contact__content {
      flex-direction: column;
    }
  
    .contact__map,
    .contact__form {
      width: 100%;
    }
  
    .contact__form-group {
      flex-direction: column;
    }
  
    .contact__form-group .contact__input {
      width: 100%;
    }
  }
  